body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Default styles for light theme */
body.light {
  --background-color: #ffffff;
  --text-color: #0b0b0b;
  --primary-color: #007bff;
  background-color: var(--background-color);
  color: var(--text-color);
  &  .container {
    background-color: #00adb5;
}
}

/* Styles for dark theme */
body.dark {
  --background-color: #2e2c2c;
  --text-color: #ffff;
  --primary-color: #bb86fc;
  background-color: var(--background-color);
  color: var(--text-color);
  & .container {
    background-color: #7fbcee;
}
}

